<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 page not found</title>
</head>

<body style="background-color:rgba(0, 0, 0, 0.8);">
  <div class="text-center">
    <h1 style="color: white;"> Oops! 404 Page not found</h1>
    <a href="/">
      <button type="button" class="btn btn-info btn-lg mt-2">HOME</button>
    </a>
  </div>
</body>

</html>